[project]
	description = \"security_tools\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/akraino-gerrit-security_tools-committers
	read = group GitHub Replication
	push = group saml/akraino-gerrit-security_tools-committers
	pushMerge = group saml/akraino-gerrit-security_tools-committers
